
<%- include("partials/template/headers.ejs") %>

<h2>
    <%= pageTitle %>
</h2>
<%= pageId %>

 <% if(user) { %>
<h3> 
     <%= user.name %>
    </h3>
<% } %>

<%- include("partials/template/footer.ejs") %>
